@font-face {
  font-family: "Transistor";
  src: url("Transist.ttf") format("ttf"),
}
body{
  background: black;
  color: black;
  font-family: 'Transistor';
}
table{
  position: relative;
  top: -370px;
  margin: auto;
  padding: 0;
  filter: drop-shadow(0 1px 1px #333);
  border: 2px solid black;
}
  td {
    padding: 0;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    text-align:center;
  }
  tr {
    border: 1px solid black;
    height:50px;
    width: 50px;
  }
  h1, h2,p{
    position: relative;
    top: 80px;
    filter: drop-shadow(0 1px 1px #333);
    text-align: center;
  }
  .backgrounddiv{
    margin: auto;
    z-index: -9;
    background: #b0c4ae;
    position: relative;
    top: 10px;
    height: 350px;
    width: 350px;
    box-shadow: inset 0px 5px 10px rgba(0,0,0,0.5);
  }
  .screenwrapper{
    z-index: -100;
    background: black;
    height: 400px;
    width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .gamemsgwrapper{
    margin: auto;
    position: relative;
    top: -50px;
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 50px;
  }
  #gamemessage, #scorebox{
    width: 160px;
    height: 30px;
    max-width: 160px;
    padding: 5px;
    filter: drop-shadow(0 1px 1px #333);
  }
  #gamemessage{
    text-align: right;
  }
  .buttonwrapper{
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 20px;
    padding: 10px;
  }
  .circlebutton{
    background-color: red;
    border-top: 2px solid #c60000;
    border-right: 3px solid maroon;
    border-left: 3px solid maroon;
    border-bottom: 4px solid #600000;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
.buttontext{
  display: inline;
  font-family: sans-serif;
  color: white;
  text-transform: uppercase;
  margin-left: 10px;
}
.halfed{
  display: inline-block;
  top: -10px;
  width: 50%;
}
.controlpad{
  height: 100px;
  /* display:flex;
  align-self: center; */
}
.directionbutton{
  background-color: red;
  border-top: 2px solid #c60000;
  border-right: 3px solid maroon;
  border-left: 3px solid maroon;
  border-bottom: 4px solid #600000;
  border-radius: 50%;
  font-size: 90%;
  color: #ff6666;
  padding: 0 3px;
  text-shadow: 0 1px 2px #600000;
}
.updownbutton{
  display:block;
  align-items: space-around;
  width: 30px;
  max-width: 30px;
  height: 20px;
  max-height: 20px;
  margin: auto;
  cursor: pointer;
}
.upbutton{
  transform: rotate(90deg);
}
.downbutton{
  transform: rotate(-90deg);
}
.rightbutton{
  transform: rotate(180deg);
}
.leftrightbutton{
  display: flex;
  align-items: space-between;
  width: 30px;
  max-width: 30px;
  height: 20px;
  max-height: 20px;
  padding-bottom: 3px;
  cursor: pointer;
}
.leftrightwrapper{
  width: 100px;
  max-width: 100px;
}
.consolebg{
  height: 800px;
  width: 500px;
  background: purple;
  position: absolute;
  left: 0;
  right: 0;
  top: 3vh;
  margin-left: auto;
  margin-right: auto;
  z-index: -99999;
  border-radius: 30px 30px 90px 30px;
  box-shadow: inset -5px -10px 25px rgba(0,0,0,0.85);
}
.speaker{
  background: url('./speakergrid.png');
  margin: auto;
  position: absolute;
  left:-230px;
  right: 0;
  top:600px;
  height: 150px;
  max-height: 150px;
  width:150px;
  max-width:150px;
}
.credittext{
  position: absolute;
  margin: auto;
  right: 0;
  top:650px;
  left: 180px;
  width: 200px;
  max-width: 200px;
  height: auto;
}
.credittext p{
  font-family: sans-serif;
  margin-top: -20px;
  filter: none;
}
