@font-face {
  font-family: "Transistor";
  src: url("Transist.ttf") format("ttf"),
}
body{
  background: darkgrey;
  color: black;
  font-family: 'Transistor';
}
table{
  position: relative;
  top: -380px;
  margin: auto;
  padding: 0;
  filter: drop-shadow(0 1px 1px #333);
  border: 2px solid black;
}
  td {
    padding: 0;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    text-align:center;
  }
  tr {
    border: 1px solid black;
    height:50px;
    width: 50px;
  }
  h1, h2,p{
    position: relative;
    top: 80px;
    filter: drop-shadow(0 1px 1px #333);
    text-align: center;
  }
  .backgrounddiv{
    margin: auto;
    z-index: -9;
    background: #b0c4ae;
    position: relative;
    top: 10px;
    height: 350px;
    width: 350px;
  }
  .screenwrapper{
    z-index: -100;
    background: black;
    height: 400px;
    width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .gamemsgwrapper{
    margin: auto;
    position: relative;
    top: -50px;
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 50px;
  }
  #gamemessage, #scorebox{
    width: 160px;
    height: 30px;
    max-width: 160px;
    padding: 5px;
    filter: drop-shadow(0 1px 1px #333);
  }
  #gamemessage{
    text-align: right;
  }
  .buttonwrapper{
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 20px;
    padding: 10px;
  }
  .circlebutton{
    background-color: red;
    border-top: 2px solid #c60000;
    border-right: 3px solid maroon;
    border-left: 3px solid maroon;
    border-bottom: 4px solid #600000;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
.buttontext{
  display: inline;
  font-family: sans-serif;
  color: white;
  text-transform: uppercase;
  margin-left: 10px;
}
.halfed{
  display: inline-block;
  top: -10px;
  width: 50%;
}
.controlpad{
  height: 100px;
  /* display:flex;
  align-self: center; */
}
.directionbutton{
  background-color: red;
  border-top: 2px solid #c60000;
  border-right: 3px solid maroon;
  border-left: 3px solid maroon;
  border-bottom: 4px solid #600000;
  border-radius: 50%;
}
.updownbutton{
  display:block;
  align-items: space-around;
  height: 20px;
  width: 10px;
  margin: auto;
  cursor: pointer;
}
.leftrightbutton{
  display: flex;
  align-items: space-between;
  width: 20px;
  height: 10px;
  max-height: 10px;
  padding-bottom: 3px;
  cursor: pointer;
}
.leftrightwrapper{
  width: 80px;
  max-width: 80px;
}
.consolebg{
  height: 80vh;
  width: 60vw;
  background: powderblue;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -11;
}
